[submodule "gym-air-traffic"]
	path = gym-air-traffic
	url = https://github.com/TristanDonze/gym-air-traffic.git
	branch = mpc
[submodule "agents/mpc/mpc.pytorch"]
	path = agents/mpc/mpc.pytorch
	url = https://github.com/locuslab/mpc.pytorch
